.mainContainer {
  width: 300px; // largura fixa do "quadrado branco"
  height: 520px; // ocupa a altura útil
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  margin: 1rem;
  color: #fff;

  background: rgba(255, 255, 255, 0.083);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
}

.mainContainerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto; // não cresce

  margin-bottom: 1rem;

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    text-align: center;
  }
}

.backButton {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  border: 1.5px solid #fff;
  border-radius: 6px;
  background: transparent;
  color: #fff;
  transition: all 0.3s ease;

  &:hover {
    background: #ffffffac;
    color: #000;
    cursor: pointer;
  }
}

.cardsContainer {
  display: flex;
  max-height: 400px;
  flex: 1; // ocupa o espaço restante do container
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap; // faz as colunas com flex
  gap: 0.6rem;
  align-content: flex-start; // alinha ao topo
  padding-right: 0.3rem; // espaço pro scrollbar

  // scrollbar estilizado
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
  }
}

.card {
  flex: 1 1 calc(50% - 0.6rem); // 2 colunas usando flexbox
  width: 140px;
  height: 60px;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    background: #3b6388;
    box-shadow: 0px 4px 10px #3b5f88;
    cursor: pointer;
  }

  .fileName {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  .fileIcon {
    font-size: 0.9rem;
  }

  .fileNameText {
    font-size: 0.9rem;
    font-weight: 500;
    color: #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .links {
    margin-top: 0.3rem;
    display: flex;
    gap: 0.5rem;

    a {
      font-size: 0.75rem;
      color: #e4e4e4;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #00ffd5f6;
      }
    }
  }
}

.folder {
  background: #3b6388;
  border-color: #5d92ce;
}

.loader {
  width: 32px;
  height: 32px;
  border: 3px solid #000000aa;
  border-top-color: #3b6388;
  border-radius: 50%;
  margin: 1.5rem auto;
}