.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2a024a;
  background: radial-gradient(circle, rgba(42, 2, 74, 1) 0%, rgba(71, 3, 110, 1) 100%);
}

.mainContainerTitle {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
}

.stageTitle2,
.stageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: 70px;
  color: #fff;
}

.stageTitle2 {
  margin-top: 20px;
}

.contentContainer {
  display: flex;
  justify-content: space-around;
  overflow-y: auto;
}

.driveTableContainer {
  display: flex;
  margin-top: 20px;
  border-radius: 8px;
  width: 300px;
  height: 600px;
}